# compiled output
/static/*
**/__pycache__
/venv
.env
/staticfiles/*

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# gcp keyfile
# keyfile.json